.imgGatoPrincipal{
    height: 400px;
    width: 400px;
    float: left;
    margin-left: 250px;
}

.imgPerroPrincipal{
    height: 320px;
    width: 200px;
    float: right;
    margin-right: 350px;

}
.tituloPrincipal{
    color: black;
    font-size: 52px;
    text-align: center;
    text-shadow: 2px 5px 10px black;
    font-family: Georgia, serif;
    
}
.botonGatoPrincipal{
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}
body{
    background-color: rgb(193, 255, 255);
}