.imgGatoPrincipal{
    height: 400px;
    width: 400px;
}

.imgPerroPrincipal{
    height: 400px;
    width: 400px;
}
.tituloPrincipal{
    color: black;
    
}

h1{
    text-align: center;
    color: blueviolet;

}

.imagenes{
    width: 455px;
    height: 0px;
}