.imgGatoPrincipal{
    height: 400px;
    width: 400px;
    float: left;
    margin-left: 250px;
}

.imgPerroPrincipal{
    height: 320px;
    width: 200px;
    float: right;
    margin-right: 350px;

}

.botonGatoPrincipal{
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

body{
    background-color: rgba(203, 254, 254, 0.979);

}

.tituloPrincipal{
    color: black;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 5px 8px rgba(0, 0, 0, 0.406);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.tituloSecundario{
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-shadow: 2px 5px 8px rgba(0, 0, 0, 0.400);
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.descripText{
    color: black;
    font-size: 15px;
    font-weight: inherit;
    text-align: justify;
    text-align: center;
    text-shadow: 2px 5px 8px rgba(0, 0, 0, 0.221);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.descripText1{
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: inherit;
    text-align: justify;
    text-align: center;
    text-shadow: 2px 5px 8px rgba(0, 0, 0, 0.221);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.boton {
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    }