.img1{
    height: 200px;
    width: 200px;
}

.img2{
    height: 200px;
    width: 200px;
}
.img3{
    height: 200px;
    width: 200px;

}
p{
    text-align: center;
}

.imgGato1:hover{
    zoom: 1.2;
    display:flex;
}

.tituloprincipalgatos{
    margin-top: 300px;
    color: black;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 5px 8px rgba(0, 0, 0, 0.406);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
body{
    background-color: rgba(203, 254, 254, 0.979);
    margin: 0px;
}